#menu{
	position: relative;
	width: 100%;
	height: 10vh;
	display: block;
	background-color: #C4D8E2;
}

#convo_section{
	position: relative;
	display: block;
	width: 100%;
	height: 80vh;
	overflow: auto;
}

#entry_section{
	position: fixed;
	display: block;
	height: 10vh;
	width: 100%;
}

#message{
	width: 60%;
	margin: 0 auto;
}